<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>imageserver</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script>
            function main_loop() {
                // get status from server
                // report progress
                // and get image if done
                // else repeat
                $.get("status", function(status) {
                    $("#progress").text(status.slice(3));
                    if (status[2] == '2') {
                        $("#image").attr("src", "../image/output.png");
                    } else {
                        setTimeout(main_loop, 500);
                    }
                });
            }
            $(document).ready(function() {
                $("#image").hide()
                main_loop();
            });
        </script>
    </head>
    <body>
        <p>Got an image '{{imagename}}'</p>
        <p id="progress">Your image has been sent</p>
        <a href="/">Another one!</a>
        <img id="image" alt="Error! Image not found" />
    </body>
</html>